= form_for form_arguments(@record), html: { class: 'form' } do |f|
  %fieldset
    - if lookup_context.exists?('form_fieldset_before',
      %W[#{@resource.model_name.route_key}/dry], true)
      = render "#{@resource.model_name.route_key}/dry/form_fieldset_before"

    - @resource.each_form_fields do |attr, type|
      %p.field
        - case type
        - when Class
          = f.label attr
          %br
          = f.collection_select attr, type.send(:all), :id, :to_s
        - when Symbol
          - if type == :check_box
            = f.send type, attr
            = f.label attr
          - else
            = f.label attr
            %br
            = f.send type, attr

    - if @record.errors.any?
      .form-errors
        %p
          = pluralize @record.errors.size, 'error'
          prohibited this
          = @resource.singular_name
          from being saved:
        %ul
          - @record.errors.full_messages.each do |error|
            %li= error

  %p= f.button
