= form_for @record do |f|
  %fieldset
    - @resource.each_form_fields do |attr, type|
      %p.field
        - if type == :check_box
          = f.send type, attr
          = f.label attr
        - else
          = f.label attr
          %br
          = f.send type, attr

      - if @record.errors.any?
        .errors
          %p
            = pluralize @record.errors.size, 'error'
            prohibited this
            = @resource.singular_name
            from being saved:
          %ul
            - @record.errors.full_messages.each do |error|
              %li= error

  %ul.actions
    %li
      = f.button
    %li
      = link_to 'Back', collection_path(@resource)
