%h1
  Listing
  = @resource.plural_name


- if @collection.empty?
  %p
    No
    = @resource.singular_name
    found.

- else
  %table.list
    %thead
      %tr
        %th
          = @resource.singular_name.capitalize
        - @resource.attrs_read.each do |attr|
          %th= attr.capitalize
        - if @resource.edit? || @resource.destroy?
          %th.list-actions
            Actions

    %tbody
      - @collection.each do |record|
        %tr
          %td
            - if @resource.show?
              = link_to record, record_path(record)
            - else
              = link_to record, edit_path(record)
          - @resource.attrs_read.each do |attr|
            %td= record.send attr
          - if @resource.edit? || @resource.destroy?
            %td.list-actions
              %ul.actions
                - if @resource.edit?
                  %li= link_to 'Edit', edit_path(record)
                - if @resource.destroy?
                  %li= link_to 'Destroy', record_path(record), method: :delete,
                    data: { confirm: t('confirmation',
                      default: 'Are you sure?') }
                - if @resource.relations?
                  - @resource.relations.each do |relation|
                    - relation = record.send(relation)
                    %li= link_to relation.model_name.human.pluralize,
                      relation_path(record, relation)


%ul.actions
  - if @resource.new?
    %li
      = link_to "New #{@resource.singular_name}", new_path(@resource)
  - if lookup_context.exists?('index_actions_extra', %w[dry], true)
    = render 'dry/index_actions_extra'
